@font-face {
    font-family: 'GladlyAccept';
    src: url(ponts/GladlyAcceptRegular.ttf.ttf);
}
@font-face {
    font-family: 'Groovy';
    src: url(ponts/GroovyScript-Regular.ttf);
}

@font-face {
    font-family: 'cutiepa';
    src: url(ponts/rara.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    font-family: GladlyAccept;
}

.logo
{
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 570px;
}

.navigation a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 500;
}

.navigation a:hover, 
.navigation a.active{
    background: #359381;
    color: #f9f9f9;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#text{
    position: absolute;
    font-size: 10em;
    color: #f9f9f9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    font-family: cutiepa;
   
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    
}

.sec{
    position: relative;
    background: #003329;
    padding: 100px;
}

.sec h1{
    font-size: 6em;
    color: #f9f9f9;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1.5em;
    color: #f9f9f9;
    font-family: Groovy;
}


.hiho{
    position: fixed;
    height: auto;
    top: -5px;
    left: 0;
    width: 100px;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }
  
  .slide > img {
    display: block  ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
    background: #003329;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }

#leaf{
  animation: animateUser 4s linear infinite;
}

@keyframes animateUser{
  50%{
    right: 30px;
    top: -90px;
  }
}
